// white
$White: #ffffff;

// Red
$R50: #faf5f4;
$R75: #f6d4cb;
$R100: #faa691;
$R200: #e66b4c;
$R400: #bc654f;
$R600: #955c4e;
$R800: #6b4940;
$R900: #43322e;

// Yellow
$Y50: #f8f5f1;
$Y75: #f7dec3;
$Y100: #fcc58b;
$Y200: #fbb66c;
$Y400: #dd9b6c;
$Y600: #af8160;
$Y800: #785d4a;
$Y900: #514238;

// Purple
$P50: #f3f2f8;
$P75: #ddd8f0;
$P100: #b0a2e5;
$P200: #7963cf;
$P400: #685a9e;
$P600: #595178;
$P800: #454058;
$P900: #322f3c;

// Green
$G50: #f2f8f5;
$G75: #daf2e4;
$G100: #a3e6bf;
$G200: #60d290;
$G400: #64b385;
$G600: #538166;
$G800: #496555;
$G900: #2d3c34;

// Ocean
$O50: #f3f7f9;
$O75: #d9ebf7;
$O100: #98cef3;
$O200: #33adff;
$O400: #459dd9;
$O600: #538eb6;
$O800: #507085;
$O900: #2c363c;

// Neutral
$N50: #f6f9fa;
$N75: #e8edf0;
$N100: #ced5da;
$N200: #9da4a8;
$N400: #71787d;
$N600: #586065;
$N800: #373e43;
$N900: #24292d;